.break-label{
  background-color: blueviolet;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}